APP_MODE=development

# Optional AWS Secrets bootstrap
AWS_SECRETS_ENABLED=false
AWS_SECRET_NAME=
AWS_REGION=us-west-2

REDIS_HOST=127.0.0.1
REDIS_PORT=6379
REDIS_PASS=

# DATABASE
DATABASE_HOST=localhost
DATABASE_PORT=5432
DATABASE_USERNAME=postgres
DATABASE_PASSWORD=
DATABASE_NAME=
DB_SSL=false
DB_SSL_REJECT_UNAUTHORIZED=true




